## python

***rishi***

**rishi**

*rishi*

# python basics

In [3]:
print("hello,gitam")
print("hyderabad")

hello,gitam
hyderabad

In [4]:
print("rishika")

rishika

In [5]:
print("hello,gitam","|||",end =" ")
print("hyderabad",end="||| " )
print("python programming")

hello,gitam ||| hyderabad||| python programming

In [6]:
n1 = 100 #single variable assignment
a = b = c = 20 #multi variable assignment of the same value
print(n1)
a1,b1,c1=10,20,30 #multi variable assignment with different values
print(a,b,c)
print(a1,b1,c1)

100
20 20 20
10 20 30

In [7]:
print(a)

20

In [8]:
a=100;
s1="python"
s2='p'
f1=10.2
print(a,s1,s2,f1)
print (type(a),type(s1),type(s2),type(f1))

100 python p 10.2
<class 'int'> <class 'str'> <class 'str'> <class 'float'>

In [10]:
s1="100"
print(type(s1))
a=int(s1)
print(type(a))

f=1.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'int'>
<class 'int'>
1

In [11]:
# a number is given 1234
# Digit count
a1 = 1234
print(len(str(a1)))

4

# reading a value
#input("message") -- string

In [12]:
s1= input("enter your name")
print(s1)
print (type(s1))

enter your nameRishika Shetty
Rishika Shetty
<class 'str'>

In [13]:
# want a number as a input
n1=int(input("enter a number"))
print(n1,(type(n1)))

enter a number333
333 <class 'int'>

# operators
*  operators is a symbols is used to perform a specific kind of operation
### Arithmetic Operator
      +
      -
      *
      /
      %
      //
      **

# precedence of the arth operation

In [14]:
x= 1+2 ** 3 / 4 + 5
print(x)

8.0

In [15]:
x= 1 + 2 ** 3 / 4 * 5
print(x)

11.0

## Relation Operator
 ### =
 ### !=
 ### >
 ### <
 ### >=
 ### <=

In [16]:
n1=1234
print(n1+10)
print(n1-10)
print(n1/10)
print(n1*10)
print(n1%10)
print(n1//10)
print(n1**10)

1244
1224
123.4
12340
4
123
8187505353567209228244052427776

In [17]:
# to check whether number is even or odd
n =int(input("enter a number"))
if n%2 == 0:
   print("even")
else:
    print("odd")

enter a number65
odd

In [19]:
# to check given number is perfectly multiple or not
n=int(input("enter a number"))
if n%3==0 and n%5==0:
    print("yes")
else:
        print("no")

enter a number351
no